.card{
    width:330px;
    height: auto;
    display:block;
    float: left;
    background-color:$color-primary;

    &:hover{
        padding-bottom:5px;
    }
    .cardWrapper{
        background-color:$color-navy;

        &:hover{
            margin-top:-5px;
        }
    }
    .cardImage{
        width:100%;

        a{
            color:$color-white;
            padding:0;

            &:hover{
                border-bottom:none;
            }
        }
        img{
            width:100%;
            height: auto;

        }
    }
    .cardInfo{
        padding:27px 20px 22px;
        width:100%;
        .cardTitleLink{
            font-family: $font-heading-copy;
            font-size: 2.0rem;
            line-height: 2.4rem;
            letter-spacing: 0.4rem;
            padding-bottom:5px;
            text-transform: uppercase;

            a{
                color:$color-white;
                padding:0;

                &:hover{
                    border-bottom:none;
                }
            }
        }
        .cardMiniInfo{
            font-size:1.0rem;
            font-family: $font-link-copy;
            line-height: 1.6rem;
            letter-spacing: 0.16rem;
            padding-bottom:10px;
        }
    }
}

#breadcrumb{
    padding:0;
    font-size:11px;
    ul{
        text-decoration: none;
        margin:0;
        padding: 0;
        li{
            display:inline-block;
            padding-right:10px;
            color:$color-white;

            a{
                color:$color-white
            }
        }
    }
}

#projectwrapper{
    .workPrehead{
        font-size: 1.1rem;
        letter-spacing: 0.5rem;
        font-family: $font-link-copy;
        line-height: 2.2rem;
    }
    h1{
        text-transform: uppercase;
        font-size:3.8rem;
        line-height: 4.4rem;
        letter-spacing: .62rem;
    }
    p{
        font-size:1.4rem;
        line-height: 1.8rem;
    }
    .projectYear{
        font-size: 1.1rem;
        letter-spacing: 0.3rem;
        font-family: $font-link-copy;
        line-height: 2.2rem;
        padding-bottom:16px;
    }
    &.dark{
        h1{
            text-shadow: $hero-text-shadow;
        }
        h1,
        p,
        #breadcrumb{
            color:$color-white;
        }
        #breadcrumb a{
            color:$color-white;
            border-bottom:1px solid $color-white;
        }
    }
    &.light{
        h1,
        p,
        #breadcrumb,
        #breadcrumb li{
            color:$color-navy;
        }
        #breadcrumb a{
            color:$color-navy;
            border-bottom:1px solid $color-navy;
        }
    }
    .projectImage{
        width:600px;
        margin-bottom:30px;
        float: left;
        min-height: 400px;
        img{
            width:100%;
        }
        .socialBtnWrapper{
            display: block;
            width:490px;
            margin:0 auto;
        }
    }
    .projectInfo{
        float: left;
        width: 330px;
        margin:12px 0 0 88px;
        .socialBtnWrapper{
            display:none;
        }
    }
    .illoDescription{
        padding-bottom:13px;
    }
    .projectSkills{
        font-size: 1.1rem;
        letter-spacing: 0.13rem;
        font-family: $font-link-copy;
        line-height: 2.2rem;
        padding-bottom:30px;
    }
    .purchasePrint{
        font-size:1.3rem;
        font-weight: bold;
        padding-bottom:30px;
    }
    .projectTags{
        p{
        font-size: 1.1rem;
        letter-spacing: 0.13rem;
        font-family: $font-link-copy;
        line-height: 1.8rem;
        }
    }
    
}
.projectInfo a.btn[href="#"] {
    display: none;
}
@media only screen and (min-width: 1040px) {
    .card{
        width:320px;
        margin: 0 40px 20px 0;

        &:nth-child(3n + 1){
            clear: both;
        }
        &:nth-child(3n){
            margin-right: 0;
        }
    }
}
@media only screen and (max-width: 1039px) {
    .card{
        width:47%;
        margin: 0 20px 23px 0;
        &:nth-child(2n + 1){
            clear: both;
        }
        &:nth-child(2n){
            margin-right: 0;
        }
    }
}
@media only screen and (max-width: 768px){
    .card{
        width:100%;
        margin: 0 0 20px 0;
    }
    

        #projectwrapper{
            .projectInfo{
                margin:0 auto;
                padding: 0;
            }
            .projectImage{
                .socialBtnWrapper{
                    display: none;
                }
            }
            .projectYear{
                padding-bottom:16px;
            }
            .projectImage{
                width:100%;
                margin-bottom:10px;
                min-height: 400px;
                img{
                    width:100%;
                }
                a.btn{
                        width: 100%;
                        margin:0 0 10px 0;
                }
            }
            .projectInfo{
                width: 100%;
                margin:0;
                .socialBtnWrapper{
                    display: block;
                }
            }
            .illoDescription{
                padding-bottom:13px;
            }
            .projectSkills{
                padding-bottom:30px;
            }
            .purchasePrint{
                padding-bottom:30px;
            }
            .socialBtnWrapper{
                width:100%;
                margin:0 auto;
            }
        }
}