*,
*::after,
*::before{
  margin:0;
  padding:0;
  box-sizing: inherit; /*inherits body box-sizing declaration*/
}
html{
    font-size:62.5%; /* This Defines 1rem */
  }
body{
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box; /*removes padding and margin to height and width*/
    text-align: left;
    font-size:1.6rem;
    letter-spacing: 0.16rem;
    line-height: 2.8rem;
}
body.link-page,
body.splash-page{
    font-family: $font-link-copy;
    nav{display:none}
    p{
        font-size: 1.6rem;
        margin:0 0 20px 0;
        font-family: $font-link-copy;
    }
}
h1,
h2,
h4{
    font-family: 'Anton', sans-serif;
    color:$color-white;
}
h2{
    font-size:2.8rem;
    color:$color-navy;
}
#relatedDesigns h2{
        color:$color-white;
        font-size:4.0rem;
        line-height: 4.4rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom:25px;
    }
.page404 h2{
    color:$color-white;
    font-size:4.0rem;
    line-height: 4.4rem;
    text-transform: uppercase;
    text-align: left;
    margin:25px 0;
}
h3{
    color:$color-white;
    font-size:1.6rem;
}
h4{
    margin:0;
    text-align: center;
    text-transform: uppercase;
    line-height: 9.5rem;
}
p{
    color:$color-white;
}
.body-copy p{
    margin-bottom:20px;
}
a{
    color:$color-primary;
    text-decoration: none;
    margin-bottom:2px;
    &:visited{
        color:$color-lt-blue;
        border-bottom:2px solid $color-lt-blue;
        text-decoration: none;
    }
    &:hover{
        color:$color-a-tag;
        border-bottom:2px solid $color-a-tag;
        text-decoration: none;
    }
}
#intro-text{
    width:540px;
    height: auto;
    margin:0 auto;
    padding-top:60px;
}
.caption{
    font-family: $font-link-copy;
    font-size:1.0rem;
    text-align: center;
}


@media only screen and (min-width: 768px) {
    #splash-logo{
        margin:0 auto 4.0rem auto;
        width:800px;
        height: 220px;
    }
    h1{
        font-size:7.0rem;
        padding:0 0 1.2rem 0;
        letter-spacing: 0.7rem;
    }
    h4{
        font-size:5.0rem;
        padding:0 0 1.2rem 0;
        letter-spacing: 0.7rem;
    }
    #copyright p{
        font-size: 1.2rem;
        margin:0 0 12px 0;
    }
}
@media only screen and (max-width: 767px) {
    
    #splash-logo{
        margin:0 auto 2.0rem auto;
        width:300px;
        height: 75px;
        background-size: 100%;
    }
    h1{
        font-size:4.0rem;
        padding:0 0 1.2rem 0;
        letter-spacing: 0.4rem;
    }
    h4{
        font-size:3.0rem;
        padding:0 0 1.2rem 0;
        letter-spacing: 0.3rem;
    }
    p{
        font-size: 1.2rem;
        margin:0 0 12px 0;
    }
    #copyright p{
        font-size: 1.0rem;
        margin:0 0 12px 0;
    }
    #footer span{
        &::before {
            content: "\A";
            white-space: pre;
          }      
    }
}