//Button Color
$color-primary: #FF2C5D;
//Button Hover
$color-primary-dark: #E51646;

//Fonts
$color-gray-dark: #5B5E6B;
$color-gray-medium:#D9D9D9;
$color-pre-head: #A2B4C9;
$color-heading:#6585AA;
$color-white:#FFF;

//Links
$color-a-tag:#60AAFF;
$color-a-hover:#418ADF;
$color-a-visited:#A2B4C9;

//UI Section Colors
$color-off-white:#F8FBFD;
$color-gray-blue: #ECEEF6;
$color-black:#000;
$color-navy: #383E5A;
$color-dark-navy:#252A3F;
$color-footer-divider:#4B4F64;

//Card Dropshadow
$card-drop-shadow-color:#72859B;

//Font
$default-font-size: 1.6rem;
$font-heavy-weight:900;

//Border Radium
$border-radius:6px;

//Button Width
$button-width: 220px;