#about-images{
    height: 300px;
    margin:220px 64px 10px 0;
}
#about-dangerhuskie{
    background: url(https://nickvolkert.sirv.com/_sitegraphics/pages/homepage-nvolkert.jpg) no-repeat -41px -3px;
    background-size: 135%;
}
#about-body{
    float: left;
    width:540px;

    h2{
        font-size:6.0rem;
        line-height: 6.4rem;
        letter-spacing: .6rem;
        color:$color-white;
        text-transform: uppercase;
    }
    .pipe{
        margin:40px 0;
    }
}
@media only screen and (max-width: 768px){
    #about-images{
        width:100%;
        height: auto;
        float: none;
        margin:0;
        padding:0;
    }
    #about-dangerhuskie{
        background-position: -46px -17px;
        background-size: 145%;
        margin:0 auto;
        width:200px;
        height:200px;
    }
    #about-body{
        float: none;
        width:100%;

        h2{
            font-size: 3.8rem;
            line-height: 4.0rem;
        }
    }
}