#about-images{
    width: 300px;
    height: 300px;
    float: left;
    margin:220px 64px 10px 0;
}
#about-dangerhuskie{
    background: url(https://nickvolkert.com/img/spec_mural/bw_setup.jpg) no-repeat -460px -80px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: left;
    display: block;
    margin-bottom: 10px;

    span{
        display: none;
    }
}
#about-body{
    float: left;
    width:540px;

    h2{
        font-size:6.0rem;
        line-height: 6.4rem;
        letter-spacing: .6rem;
        color:$color-white;
        text-transform: uppercase;
    }
    .pipe{
        margin:40px 0;
    }
}