#linkspage{
    /*Pre heads*/
    #header{
    padding-top:20px;
    }
    .prehead{
        color:#FFF;
        font-weight: 800;
        text-transform: uppercase;
        padding:0;
    }
    #intro-text{
        padding-top:0;
    }
    h1{
        color:#FFF;
        text-transform: uppercase;
        font-weight: 900;
        margin:0;
        background:none;
        width:auto;
        height: auto;
        text-align: center;
    }
    p{
        text-align: center;
        color:$color-white;
    }
    #wrapper{
        padding: 20px 20px 30px 20px;
        width:100%;
    }
    #latest-pbds{
        margin:0 auto;
        width: 680px;
    }
    .pbds{
        float: left;
        width:47%;
        margin-right:10px;
        &:nth-child(3n){
            margin-right: 0;
        }
        img{
            width:100%;
        }
        .cardImage{
            margin:0 0 6px 0;
        }
        .cardTitleLink{
            font-weight: 800;
        }
        .pbd-image-link{
            width:auto;
            height: auto;

            &:hover{
                border-bottom: none;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        #wrapper,
        #header,
        #link-tree,
        #footer{
            margin:0 auto;
            width:680px;
        }
        .prehead{
            font-size:1.4rem;
            margin:0 0 14px 0;
        }
        h1{
            line-height: 64px;
        }
        p{
            font-size: 1.6rem;
            margin:0 0 20px 0;
        }
        #linkspage #latest-pbds{
            width:100%;
        }
    }
    @media only screen and (max-width: 600px) {
        #wrapper,
        #link-tree,
        #footer{
        width: 96%;
        margin: 0 auto;
        }
        #latest-pbds{
            width:90%;
            margin: 0 auto;
        }
        #header{
            padding-bottom:10px;
            width:100%;
        }
        .prehead{
            font-size:1.2rem; 
            margin:0 0 10px 0;
        }
        h1{
        line-height: 30px;
        }
        p{
            font-size: 1.1rem;
            margin:0 0 12px 0;
        }
        #footer span::before {
                content: "\A";
                white-space: pre;  
        }
        #intro-text{
            padding:0;
        }
    }
    #footer{
        padding-top:12px;
    }
    #footer span{
        padding-right:12px;
        display: inline-block;
    }
    #footer p {
        text-align: center;
    }
    #dangerhuskie{
        width: 130px;
        height: 148px;
        display: block;
        margin:0 auto;
        padding-top:18px;
        a{
            border-bottom: none;

            &:hover{
                border-bottom: none;
            }
        }
    }
}
.link-page,
.splash-page{
    footer{
        h4{
            margin:0;
            text-align: center;
            text-transform: uppercase;
            color:$color-white;
        }
        p{
            text-align: center;
            color:$color-white;
        }
    }
}
.splash-page{
    p{
        text-align: center;
        color:$color-white;
    }
}