.news-entry{
    h2{
        font-size:6.0rem;
        line-height: 6.4rem;
        letter-spacing: .6rem;
        color:$color-white;
        text-transform: uppercase;
    }
    .pipe{
        margin:40px 0;
        
    }
    .rightRail{
        float: left;
        width:676px;
    }
    .news-entry{
        margin-bottom:60px;
    }
    .leftRailImage 
    a{
        &:hover{
            border-bottom: none;
        }
    }
    
    img{
        width:300px;
        border-radius: 50%;
    }
}

#launch-dangerhuskie{
    background: #EE283B url(https://nickvolkert.sirv.com/dangerhuskie/site-graphics/00-dribblemasthead.jpg) no-repeat center center;
}

@media only screen and (max-width: 768px){
    .news-entry{
        h2{
            font-size:3.8rem;
            line-height: 4.0rem;
        }
        #launch-dangerhuskie{
            background-size: 420%;
        }
        .rightRail{
            float: none;
            width:90%;
        }
        .news-entry{
            margin-bottom:20px;
        }
        .leftRailImage img{
            width:200px;
            border-radius: 50%;
        }
    }
}