#news-landing{
    h2{
        font-size:6.0rem;
        line-height: 6.4rem;
        letter-spacing: .6rem;
        color:$color-white;
        text-transform: uppercase;
    }
    .pipe{
        margin:40px 0;
    }
}

#launch-dangerhuskie{
    background: #EE283B url(https://nickvolkert.com/img/dangerhuskie/site-graphics/00-dribblemasthead.jpg) no-repeat center center;
}