.btn__link{
    width: $button-width;
    height: 50px;
    font-weight: 800;
    font-size: 1.4rem;
    text-align: center;
    border-radius: $border-radius;
    text-decoration: none;
    float:left;
    transition: .4s;

    &-primary {
        background-color: $color-primary;
        color: $color-white;
        text-transform: uppercase;
        padding: 15px 0 0 0;

        &:visited{
          background-color: $color-primary;
          color: $color-white;
          }

        &:hover{
        background-color: rgba($color-primary, 0.6);
        color: $color-white;
        }
    }
    &-secondary-red {
        background-color: $color-white;
        color: $color-primary;
        border: 3px solid $color-primary;
        padding: 12px 0 0 0;

        &:visited {
          color: $color-primary-dark;
          border: 3px solid $color-primary-dark;
        }

        &:hover {
            color: $color-white;
            background-color:$color-a-tag;
            border: 3px solid $color-a-tag;
          }
      }
      &-secondary-blue {
        background-color: $color-white;
        color: $color-a-tag;
        border: 3px solid $color-a-tag;
        padding: 12px 0 0 0;

        &:visited {
          color: $color-a-visited;
          border: 3px solid $color-a-visited;
        }

        &:hover {
            color: $color-white;
            background-color:$color-a-tag;
            border: 3px solid $color-a-tag;
          }
      }
  }
  .btn__wrapper{
    width:$button-width;
    margin:0 auto;
  }

  a.btn{
    width: 100%;
    height: 50px;
    font-weight: 800;
    font-size: 1.4rem;
    border-radius: 6px;
    text-decoration: none;
    display:block;
    background-color: #FFF;
    color:#EE283B;
    border: 2px solid #EE283B;
    padding: 12px 0 0 0;
    margin:0 0 16px 0;
    transition: all .2s;
}
a.btn:visited{
    border: 2px solid #7A7F99;
    color: #7A7F99;
    }
a.btn:hover {
        color: #FFF;
        background-color:#EE283B;
        border: 2px solid #EE283B;
    }
a.primary {
    background-color: #EE283B;
    color: #FFF;
    text-transform: uppercase;
}
a.primary:visited{
    background-color: #EE283B;
    border: 2px solid #EE283B;
    color: #FFF;
    }
a.primary:hover{
    background-color: #EE283B;
    border: 2px solid #EE283B;
    color: #FFF;
    }