footer{
    background: $color-navy;
    width:100%;
    height: 692px;
    text-align: center;
    color:$color-white;
    background: linear-gradient($color-navy, $color-primary);
    clear: both;
    font-size:1.2rem;
    p.danger{
        font-size: 1.2rem;
    }
    #copyright{
        font-family: $font-link-copy;

        a{
            &:hover{
                color:$color-white;
                border-bottom-color: $color-white;
            }
        }
    }
    a{
        color:$color-white;

        &:visited{
            color:$color-white;
        }
        &:hover{
            color:$color-white;
            border-bottom-color: $color-white;
        }
    }
    ul{
        
        padding:0;
        margin:0;
        li{
            padding:0 5px;
            margin:0;
            display: inline;
            a{
                padding:0;
            }
        }
    }
    #footer-top{
        margin: 0 0 20px 0;
    }
}

.splash{
    footer{
        background-color: $color-navy;
    }
}

#footerLogo_wrapper{
    margin: 0 auto 25px auto;
    padding-top:25px;
    width:220px;
    height: auto;
}
#footer-logo a{
    padding:0;
    background-image: url("https://nickvolkert.sirv.com/dangerhuskie/site-graphics/SVG/centered-dh-logo.svg");
    background-repeat: no-repeat;
    filter: drop-shadow($dropshadow);
    display: block;
    width:220px;
    height: 245px;
    border:none;

    span{
        display: none;
    }
}