#logo_wrapper{
    margin: 25px auto 0 auto;
}

#logo_wrapper,
#nav-logo{
    width:420px;
    height: 103px;
}

#nav-logo{
    padding:0;
    
    display: block;

    span{
        display: none;
    }
    svg{
        filter: drop-shadow($dropshadow);
    }
}

    .st0{fill:$color-primary;}
    .st1{fill:$color-navy;}
    .st2{fill:$color-white;}
    .st3{fill:$color-pink;}
    .st4{fill:$color-near-white-blue;}
    .st5{fill:$color-navy;}

@media only screen and (max-width: 768px){
    #logo_wrapper{
        padding-top:19px;
    }
    #logo_wrapper,
    #nav-logo{
    width:320px;
    height: 78px;
    }
  }