nav{
    width:100%;
    top:0;
    left:0;
    width:100%;
    height: 180px;
    z-index: 99;

    #nav_wrapper{
        width: 100%;
        position: relative;
        height: 180px;
    }

    #logo_wrapper{
        width:420px;
        height: 103px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    #link_ribbon{
        width:100%;
        height: 30px;
        text-align: center;
        background-color:$color-primary;
        position: absolute;
        bottom:0;
        text-transform: uppercase;

        ul{
            list-style: none;
            margin:0;
            padding:4px 0 0 0;
            
            li{
                margin:0;
                padding:0;
                display: inline;
                a{
                    font-weight: bold;
                    font-size: 1.6rem;
                    letter-spacing: 6px;
                    color:$color-navy;
                }
                &.spacer{
                    padding:0 46px 0 44px;
                }
            }
        }
    }
}