#prevNext{
    height: auto;
    background-color:#051529;
    width:100%;
    margin: 0 auto;

    #prevNextWrapper{
        margin:0 auto;
        padding:30px 0;
    }

    .subLink{
        font-family:$font-link-copy;
        font-size:1.1rem;
        letter-spacing: .13rem;
        padding-bottom:7px;
    }
    .mainLink{
        font-weight: bold;
    }
        
    a {
        height: auto;
        padding: 14px;
        display:inline-block;
        background-color: $color-navy;
        color: $color-a-tag;

        &:visited{
            p{
                color: $color-lt-blue;
            }
        }

        &#prevLink{
            text-align: left;
            border-left: 3px solid $color-navy;
            img{
                float: left;
                margin-right: 20px;
            }
            &:hover{
                border-left: 3px solid $color-a-tag;
                border-bottom:none;
            }
        }
        &#nextLink{
            text-align: right;
            border-right: 3px solid $color-navy;
            img{
                float: right;
                margin-left: 20px;
            }
            &:hover{
                border-right: 3px solid $color-a-tag;
                border-bottom:none;
            }
        }

        img{
            width: 120px;
        }
    }
}

@media only screen and (min-width: 1040px) {
    #prevNext{
        #prevNextWrapper{
            width:1040px;
        }
        a{
            width: 48%;

            &#prevLink{
                float: left;
            }
            &#nextLink{
                float: right;
            }
        }
    }
}
@media only screen and (max-width: 1039px) {
    #prevNext{
        width: 100%;
        height: auto;
        #prevNextWrapper{
            width:990px;
        }
        a{
            width: 100%;

            &#prevLink{
                float:left;
            }
            &#nextLink{
                margin-top: 10px;
                float:left;
                clear: left;
            }
        }
    }
}

@media only screen and (max-width: 1039px) {
    #prevNext{
        width: 100%;
        height: auto;
        #prevNextWrapper{
            width:100%;
            padding:20px;
        }
        p{
            margin:0;
            padding: 0;
        }
        a{
            width: 100%;

            &#prevLink{
                float:left;
            }
            &#nextLink{
                margin-top: 10px;
                float:left;
                clear: left;
            }
            img{
                width: 60px;
            }
        }
    }
}