.sociallinks{
    width:127px;
    height: 28px;

    ul{
      margin:0;
      padding:0;
      width:127px;
      height: 28px;
  
      li{
        display:inline-block;
        margin-right:10px;
  
        a{
          display:block;
          border-bottom:none;
  
          span{
            display:none;
          }
        }
      }
    }
      ul li,
      ul li a{
      width:20px;
      height:20px;
    }
   }
   .sociallinks ul li a.sociallinks{
  
      &__twitter{
        fill:$color-white;
        background-size: 100%;
      }
      &__tumblr{
        fill:$color-white;
        background-size: 57%;
      }
      &__facebook{
        fill:$color-white;
        background-size: 50%;
      }
      &__dribbble{
        fill:$color-white;
        background-size: 100%;
      }
      &__instagram{
        fill:$color-white;
        background-size: 100%;
      }
  }
  footer .sociallinks{
      margin:2.2rem auto 2.2rem auto;

  }