footer{
    background: $color-navy;
    width:100%;
    height: 385px;
    text-align: center;
    color:$color-white;
    p{
        text-align: center;
        color:$color-white;
    }
    #copyright{
        font-family: 'Roboto Mono', monospace;
    }
}