*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*inherits body box-sizing declaration*/ }

html {
  font-size: 62.5%;
  /* This Defines 1rem */ }

body {
  box-sizing: border-box;
  /*removes padding and margin to height and width*/
  background-color: #0A2240; }

#root {
  min-height: 350px; }

nav,
footer {
  background-color: #0A2240; }

footer {
  clear: both; }

.clearfix {
  clear: both; }

/*Wrappers*/
.content-wrapper {
  padding: 76px 0 0 0;
  min-height: 350px; }

@media screen and (max-width: 830px) {
  .content-wrapper {
    padding-top: 104px; } }

.wrapper {
  min-height: 100%; }

.projectwrapper {
  padding: 40px 0; }

.content,
.projectwrapper {
  margin: 0 auto; }

.pipe {
  width: 320px;
  height: 3px;
  background-color: #C4DAEC;
  display: block;
  margin: 34px auto 0 auto; }

/*Sections*/
.sectionWrapper {
  margin: 0 auto;
  position: relative; }

@media only screen and (min-width: 1040px) {
  .content,
  .projectwrapper,
  .comic-wrapper,
  .sectionWrapper {
    width: 1040px; }
  .content {
    padding: 10px 0; }
  section {
    padding: 40px 0 60px 0; }
  section .content {
    padding-bottom: 0; } }

@media only screen and (max-width: 1039px) {
  .content,
  .projectwrapper,
  .comic-wrapper,
  .sectionWrapper {
    width: 90%; }
  .content,
  section {
    padding: 10px 0 40px 0; }
  #breadcrumb {
    padding-bottom: 20px; } }

.card {
  width: 330px;
  height: auto;
  display: block;
  float: left;
  background-color: #EE283B; }
  .card:hover {
    padding-bottom: 5px; }
  .card .cardWrapper {
    background-color: #0A2240; }
    .card .cardWrapper:hover {
      margin-top: -5px; }
  .card .cardImage {
    width: 100%; }
    .card .cardImage a {
      color: #FFF;
      padding: 0; }
      .card .cardImage a:hover {
        border-bottom: none; }
    .card .cardImage img {
      width: 100%;
      height: auto; }
  .card .cardInfo {
    padding: 27px 20px 22px;
    width: 100%; }
    .card .cardInfo .cardTitleLink {
      font-family: "Anton", sans-serif;
      font-size: 2.0rem;
      line-height: 2.4rem;
      letter-spacing: 0.4rem;
      padding-bottom: 5px;
      text-transform: uppercase; }
      .card .cardInfo .cardTitleLink a {
        color: #FFF;
        padding: 0; }
        .card .cardInfo .cardTitleLink a:hover {
          border-bottom: none; }
    .card .cardInfo .cardMiniInfo {
      font-size: 1.0rem;
      font-family: "Roboto Mono", monospace;
      line-height: 1.6rem;
      letter-spacing: 0.16rem;
      padding-bottom: 10px; }

#projectwrapper #breadcrumb {
  padding: 0;
  font-size: 11px; }
  #projectwrapper #breadcrumb ul {
    text-decoration: none;
    margin: 0;
    padding: 0; }
    #projectwrapper #breadcrumb ul li {
      display: inline-block;
      padding-right: 10px; }

#projectwrapper .workPrehead {
  font-size: 1.1rem;
  letter-spacing: 0.5rem;
  font-family: "Roboto Mono", monospace;
  line-height: 2.2rem; }

#projectwrapper h1 {
  text-transform: uppercase;
  font-size: 3.8rem;
  line-height: 4.4rem;
  letter-spacing: .62rem; }

#projectwrapper p {
  font-size: 1.4rem;
  line-height: 1.8rem; }

#projectwrapper .projectYear {
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  font-family: "Roboto Mono", monospace;
  line-height: 2.2rem;
  padding-bottom: 16px; }

#projectwrapper.dark h1 {
  text-shadow: 0 0.25rem 1rem rgba(10, 34, 64, 0.5); }

#projectwrapper.dark h1,
#projectwrapper.dark p,
#projectwrapper.dark #breadcrumb {
  color: #FFF; }

#projectwrapper.dark #breadcrumb a {
  color: #FFF;
  border-bottom: 1px solid #FFF; }

#projectwrapper.light h1,
#projectwrapper.light p,
#projectwrapper.light #breadcrumb {
  color: #0A2240; }

#projectwrapper.light #breadcrumb a {
  color: #0A2240;
  border-bottom: 1px solid #0A2240; }

#projectwrapper .projectImage {
  width: 600px;
  margin-bottom: 30px;
  float: left;
  min-height: 400px; }
  #projectwrapper .projectImage img {
    width: 100%; }

#projectwrapper .projectInfo {
  float: left;
  width: 330px;
  margin: 12px 0 0 88px; }

#projectwrapper .illoDescription {
  padding-bottom: 13px; }

#projectwrapper .projectSkills {
  font-size: 1.1rem;
  letter-spacing: 0.13rem;
  font-family: "Roboto Mono", monospace;
  line-height: 2.2rem;
  padding-bottom: 30px; }

#projectwrapper .purchasePrint {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 30px; }

#projectwrapper .projectTags p {
  font-size: 1.1rem;
  letter-spacing: 0.13rem;
  font-family: "Roboto Mono", monospace;
  line-height: 1.8rem; }

#projectwrapper .socialBtnWrapper {
  width: 490px;
  margin: 0 auto; }

@media only screen and (min-width: 1040px) {
  .card {
    width: 320px;
    margin: 0 40px 20px 0; }
    .card:nth-child(3n + 1) {
      clear: both; }
    .card:nth-child(3n) {
      margin-right: 0; } }

@media only screen and (max-width: 1039px) {
  .card {
    width: 47%;
    margin: 0 20px 23px 0; }
    .card:nth-child(2n) {
      margin-right: 0; } }

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin: 0 0 20px 0; }
  .projectInfo {
    margin: 0 auto; }
  .socialBtnWrapper {
    width: 100%;
    margin: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*inherits body box-sizing declaration*/ }

html {
  font-size: 62.5%;
  /* This Defines 1rem */ }

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  /*removes padding and margin to height and width*/
  text-align: left;
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
  line-height: 2.8rem; }

body.link-page,
body.splash-page {
  font-family: "Roboto Mono", monospace; }
  body.link-page nav,
  body.splash-page nav {
    display: none; }
  body.link-page p,
  body.splash-page p {
    font-size: 1.6rem;
    margin: 0 0 20px 0;
    font-family: "Roboto Mono", monospace; }

h1,
h2,
h4 {
  font-family: 'Anton', sans-serif;
  color: #FFF; }

h2 {
  font-size: 2.8rem;
  color: #0A2240; }

#relatedDesigns h2 {
  color: #FFF;
  font-size: 4.0rem;
  line-height: 4.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px; }

h3 {
  color: #FFF;
  font-size: 1.6rem; }

h4 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 9.5rem; }

p {
  color: #FFF; }

a {
  color: #EE283B;
  text-decoration: none;
  margin-bottom: 2px; }
  a:visited {
    color: #3F74B7;
    border-bottom: 2px solid #3F74B7;
    text-decoration: none; }
  a:hover {
    color: #EE283B;
    border-bottom: 2px solid #EE283B;
    text-decoration: none; }

#intro-text {
  width: 540px;
  height: auto;
  margin: 0 auto;
  padding-top: 60px; }

@media only screen and (min-width: 768px) {
  #splash-logo {
    margin: 0 auto 4.0rem auto;
    width: 800px;
    height: 220px; }
  h1 {
    font-size: 7.0rem;
    padding: 0 0 1.2rem 0;
    letter-spacing: 0.7rem; }
  h4 {
    font-size: 5.0rem;
    padding: 0 0 1.2rem 0;
    letter-spacing: 0.7rem; }
  #copyright p {
    font-size: 1.2rem;
    margin: 0 0 12px 0; } }

@media only screen and (max-width: 767px) {
  #splash-logo {
    margin: 0 auto 2.0rem auto;
    width: 300px;
    height: 75px;
    background-size: 100%; }
  h1 {
    font-size: 4.0rem;
    padding: 0 0 1.2rem 0;
    letter-spacing: 0.4rem; }
  h4 {
    font-size: 3.0rem;
    padding: 0 0 1.2rem 0;
    letter-spacing: 0.3rem; }
  p {
    font-size: 1.2rem;
    margin: 0 0 12px 0; }
  #copyright p {
    font-size: 1.0rem;
    margin: 0 0 12px 0; }
  #footer span::before {
    content: "\A";
    white-space: pre; } }

.btn__link {
  width: 330px;
  height: 50px;
  font-weight: 800;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 6px;
  text-decoration: none;
  float: left;
  transition: .4s;
  line-height: 18px; }
  .btn__link-primary {
    background-color: #EE283B;
    color: #FFF;
    text-transform: uppercase;
    padding: 15px 0 0 0; }
    .btn__link-primary:visited {
      background-color: #EE283B;
      color: #FFF; }
    .btn__link-primary:hover {
      background-color: rgba(238, 40, 59, 0.6);
      color: #FFF; }
  .btn__link-secondary-red {
    background-color: #FFF;
    color: #EE283B;
    border: 3px solid #EE283B;
    padding: 12px 0 0 0; }
    .btn__link-secondary-red:visited {
      color: #E51646;
      border: 3px solid #E51646; }
    .btn__link-secondary-red:hover {
      color: #FFF;
      background-color: #EE283B;
      border: 3px solid #EE283B; }
  .btn__link-secondary-blue {
    background-color: #FFF;
    color: #EE283B;
    border: 3px solid #EE283B;
    padding: 12px 0 0 0; }
    .btn__link-secondary-blue:visited {
      color: #3F74B7;
      border: 3px solid #3F74B7; }
    .btn__link-secondary-blue:hover {
      color: #FFF;
      background-color: #EE283B;
      border: 3px solid #EE283B; }

.btn__wrapper {
  width: 330px;
  margin: 0 auto; }

a.btn {
  width: 100%;
  height: 36px;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
  display: block;
  background-color: #FFF;
  color: #EE283B;
  border: 1px solid #EE283B;
  padding: 11px 0 0 0;
  margin: 0 0 16px 0;
  transition: all .2s;
  text-align: center;
  line-height: 1rem; }
  a.btn:visited {
    border: 1px solid #3F74B7;
    color: #3F74B7; }
  a.btn:hover {
    color: #FFF;
    background-color: #EE283B;
    border: 1px solid #FFF; }
  a.btn.btn-primary,
  a.btn .primary {
    background-color: #EE283B;
    color: #FFF;
    text-transform: uppercase; }
    a.btn.btn-primary:visited,
    a.btn .primary:visited {
      background-color: #EE283B;
      border: 1px solid #EE283B;
      color: #FFF; }
    a.btn.btn-primary:hover,
    a.btn .primary:hover {
      background-color: #EE283B;
      border: 1px solid #FFF;
      color: #FFF; }
  a.btn.btn-secondary-blue {
    color: #0A2240;
    border: 1px solid #0A2240; }
    a.btn.btn-secondary-blue:visited {
      color: #3F74B7;
      border: 1px solid #3F74B7;
      background-color: #FFF; }
    a.btn.btn-secondary-blue:hover {
      background-color: #EE283B;
      border: 1px solid #EE283B;
      color: #FFF; }
  a.btn.btn-ghost {
    color: #0A2240;
    border: 1px solid #0A2240;
    background-color: transparent; }
    a.btn.btn-ghost:visited {
      color: #3F74B7;
      border: 1px solid #3F74B7;
      background-color: #FFF; }
    a.btn.btn-ghost:hover {
      background-color: #EE283B;
      border: 1px solid #EE283B;
      color: #FFF; }

.projectImage a.btn {
  display: inline-block;
  width: 220px;
  margin-right: 25px; }

#projectwrapper.dark .btn-ghost {
  color: #FFF;
  border: 1px solid #FFF; }

#relatedDesigns a.btn {
  width: 330px;
  margin: 0 auto; }

.page404page .hero {
  height: 600px;
  padding: 234px 0 0 0; }

.hero {
  width: 100%;
  height: 400px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  padding: 167px 0 0 0;
  position: relative; }
  .hero .project-info {
    width: auto;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 32px;
    background: rgba(248, 251, 253, 0.9); }
    .hero .project-info p {
      padding: 10px 20px;
      font-size: 1.2rem;
      color: #0A2240;
      letter-spacing: 5px;
      line-height: 14px; }
    .hero .project-info_pipe {
      padding: 0 10px; }
  .hero h1 {
    font-size: 12.0rem;
    font-weight: 900;
    line-height: 51px;
    color: #FFF;
    text-shadow: 0 0.25rem 1rem rgba(10, 34, 64, 0.5); }
  .hero h2 {
    font-size: 30px;
    font-weight: 900;
    color: #FFF;
    line-height: 39px; }
  .hero-dangerhuskie {
    background: #ffc758 url(https://nickvolkert.com/img/dangerhuskie/works/001-thepencilbear.jpg) no-repeat center -150px; }
  .hero-varsitypumpkin {
    background: #53616e url(https://nickvolkert.com/img/dangerhuskie/works/004_varpump.jpg) no-repeat center -150px; }

#logo_wrapper {
  margin: 0 auto;
  padding-top: 25px; }

#logo_wrapper,
#nav-logo {
  width: 420px;
  height: 103px; }

#nav-logo {
  padding: 0;
  background-image: url("https://www.nickvolkert.com/dangerhuskie/img/danger-huskie-onnavy.svg");
  background-repeat: no-repeat;
  filter: drop-shadow(0 0.25rem 1rem rgba(10, 34, 64, 0.7));
  display: block; }
  #nav-logo span {
    display: none; }

nav {
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  z-index: 99; }
  nav #nav_wrapper {
    width: 100%;
    position: relative;
    height: 180px; }
  nav #link_ribbon {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #EE283B;
    position: absolute;
    bottom: 0;
    text-transform: uppercase; }
    nav #link_ribbon ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      nav #link_ribbon ul li {
        margin: 0;
        padding: 0;
        display: inline; }
        nav #link_ribbon ul li a {
          font-weight: bold;
          font-size: 1.6rem;
          letter-spacing: 6px;
          color: #0A2240;
          padding: 0 0 0 5px; }
          nav #link_ribbon ul li a:hover {
            border-bottom: 2px solid #0A2240;
            margin-bottom: 2px; }
        nav #link_ribbon ul li.spacer {
          padding: 0 46px 0 44px; }

#prevNext {
  height: auto;
  background-color: #051529;
  width: 100%;
  margin: 0 auto; }
  #prevNext #prevNextWrapper {
    margin: 0 auto;
    padding-top: 30px; }
  #prevNext .subLink {
    font-family: "Roboto Mono", monospace;
    font-size: 1.1rem;
    letter-spacing: .13rem;
    padding-bottom: 7px; }
  #prevNext .mainLink {
    font-weight: bold; }
  #prevNext a {
    height: auto;
    padding: 14px;
    display: inline-block;
    background-color: #0A2240;
    color: #EE283B; }
    #prevNext a:visited p {
      color: #C4DAEC; }
    #prevNext a#prevLink {
      text-align: left;
      border-left: 3px solid #0A2240; }
      #prevNext a#prevLink img {
        float: left;
        margin-right: 20px; }
      #prevNext a#prevLink:hover {
        border-left: 3px solid #EE283B;
        border-bottom: none; }
    #prevNext a#nextLink {
      text-align: right;
      border-right: 3px solid #0A2240; }
      #prevNext a#nextLink img {
        float: right;
        margin-left: 20px; }
      #prevNext a#nextLink:hover {
        border-right: 3px solid #EE283B;
        border-bottom: none; }
    #prevNext a img {
      width: 120px; }

@media only screen and (min-width: 1040px) {
  #prevNext {
    height: 220px; }
    #prevNext #prevNextWrapper {
      width: 1040px; }
    #prevNext a {
      width: 48%; }
      #prevNext a#prevLink {
        float: left; }
      #prevNext a#nextLink {
        float: right; } }

@media only screen and (max-width: 1039px) {
  #prevNext {
    width: 100%;
    height: auto; }
    #prevNext #prevNextWrapper {
      width: 990px; }
    #prevNext a {
      width: 100%; }
      #prevNext a#prevLink {
        float: left; }
      #prevNext a#nextLink {
        margin-top: 10px;
        float: left;
        clear: left; } }

.sociallinks {
  width: 127px;
  height: 28px; }
  .sociallinks ul {
    margin: 0;
    padding: 0;
    width: 127px;
    height: 28px; }
    .sociallinks ul li {
      display: inline-block;
      margin-right: 10px; }
      .sociallinks ul li a {
        display: block;
        border-bottom: none; }
        .sociallinks ul li a span {
          display: none; }
  .sociallinks ul li,
  .sociallinks ul li a {
    width: 20px;
    height: 20px; }

.sociallinks ul li a.sociallinks__twitter {
  background: url("https://nickvolkert.com/img/_sitegraphics/social/twitter.svg") no-repeat center 2px;
  background-size: 100%; }

.sociallinks ul li a.sociallinks__tumblr {
  background: url("https://nickvolkert.com/img/_sitegraphics/social/tumblr.svg") no-repeat center top;
  background-size: 57%; }

.sociallinks ul li a.sociallinks__facebook {
  background: url("https://nickvolkert.com/img/_sitegraphics/social/facebook.svg") no-repeat center top;
  background-size: 50%; }

.sociallinks ul li a.sociallinks__dribbble {
  background: url("https://nickvolkert.com/img/_sitegraphics/social/dribbble.svg") no-repeat center top;
  background-size: 100%; }

footer .sociallinks {
  margin: 2.2rem auto 8.4rem auto; }

#linkspage {
  /*Pre heads*/ }
  #linkspage #header {
    padding-top: 20px; }
  #linkspage .prehead {
    color: #FFF;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0; }
  #linkspage #intro-text {
    padding-top: 0; }
  #linkspage h1 {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    background: none;
    width: auto;
    height: auto;
    text-align: center; }
  #linkspage p {
    text-align: center;
    color: #FFF; }
  #linkspage #wrapper {
    padding: 20px 20px 30px 20px;
    width: 100%; }
  @media only screen and (min-width: 768px) {
    #linkspage #wrapper,
    #linkspage #header,
    #linkspage #link-tree,
    #linkspage #footer {
      margin: 0 auto;
      width: 680px; }
    #linkspage .prehead {
      font-size: 1.4rem;
      margin: 0 0 14px 0; }
    #linkspage h1 {
      line-height: 64px; }
    #linkspage p {
      font-size: 1.6rem;
      margin: 0 0 20px 0; } }
  @media only screen and (max-width: 600px) {
    #linkspage #wrapper,
    #linkspage #link-tree,
    #linkspage #footer {
      width: 96%;
      margin: 0 auto; }
    #linkspage #header {
      padding-bottom: 10px;
      width: 100%; }
    #linkspage .prehead {
      font-size: 1.2rem;
      margin: 0 0 10px 0; }
    #linkspage h1 {
      line-height: 30px; }
    #linkspage p {
      font-size: 1.1rem;
      margin: 0 0 12px 0; }
    #linkspage #footer span::before {
      content: "\A";
      white-space: pre; } }
  #linkspage #footer {
    padding-top: 12px; }
  #linkspage #footer span {
    padding-right: 12px;
    display: inline-block; }
  #linkspage #footer p {
    text-align: center; }
  #linkspage #dangerhuskie {
    width: 130px;
    height: 148px;
    display: block;
    margin: 0 auto;
    padding-top: 18px; }
    #linkspage #dangerhuskie a {
      border-bottom: none; }
      #linkspage #dangerhuskie a:hover {
        border-bottom: none; }

.link-page footer h4,
.splash-page footer h4 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #FFF; }

.link-page footer p,
.splash-page footer p {
  text-align: center;
  color: #FFF; }

.splash-page p {
  text-align: center;
  color: #FFF; }

.content-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

#splash {
  background: linear-gradient(#EE283B, #0A2240);
  width: 100%;
  margin: 0 auto;
  height: 75vh; }

#splash-wrapper {
  position: absolute;
  transform: translate(-50%, -50%); }

#splash-logo {
  padding: 0;
  background-image: url("https://www.nickvolkert.com/dangerhuskie/img/danger-huskie-onnavy.svg");
  background-repeat: no-repeat;
  filter: drop-shadow(0 0.25rem 1rem rgba(10, 34, 64, 0.7)); }
  #splash-logo span {
    display: none; }

#footer span {
  padding-right: 12px;
  display: inline-block; }

@media only screen and (min-width: 768px) {
  #splash-wrapper {
    width: 800px;
    top: 30%;
    left: 50%;
    height: 330px; }
  #splash-logo {
    width: 800px;
    height: 196px; } }

@media only screen and (max-width: 767px) {
  #splash-wrapper {
    width: 300px;
    height: 204px;
    top: 30%;
    left: 50%; }
  #splash-logo {
    width: 300px;
    height: 75px; }
  #home p span::before {
    content: "\A";
    white-space: pre; }
  #footer span::before {
    content: "\A";
    white-space: pre; } }

footer {
  background: #0A2240;
  width: 100%;
  height: 692px;
  text-align: center;
  color: #FFF;
  background: linear-gradient(#0A2240, #EE283B); }
  footer p {
    text-align: center;
    color: #FFF; }
  footer #copyright {
    font-family: "Roboto Mono", monospace; }
  footer a {
    color: #FFF; }
    footer a:visited {
      color: #C4DAEC; }

.splash footer {
  background-color: #0A2240; }
